<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="input-bloc">
    <label for="email">
      Email
    </label>
    <input
      id="email"
      formControlName="email"
      name="email"
      type="email"
      class="form-control"
      placeholder="aaa@mail.com"
    >
    <div
      class="input-error"
      *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
      Le champ email est obligatoire
    </div>
  </div>
  <div class="input-bloc">
    <label for="password">
      Mot de passe
    </label>
    <input
      id="password"
      formControlName="password"
      placeholder="Mot de passe"
      name="password"
      type="password"
      class="form-control">
    <div
      class="input-error"
      *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
      Le champ password est obligatoire
    </div>
  </div>
  <button class="button-submit" type="submit">Purchase</button>
</form>
